
/********** Base styles **********/
/* This can be deleted
* {
  box-sizing: border-box;
}
*/

body {
	background-color: #FAFAFA;
	max-width: 100%;
	font-family: Helvetica;
	}

#header-nav {
	background-color : #B0B0B0;
	boarder: 0;
	boarder-radius: 0;
}

.navbar-brand a {
	margin: 10px 15px 10px 0px;
	font-size: 1.5em;
}

#collapsable-nav {
	background-color : #C8C8C8;
	text-align: center;
}

#main-content {
	margin: 0px 0px 0px 0px;
	width : 100%;
}

.container .jumbotron {
	background-color : #F8F8F8;
	margin: 15px 15px 15px 15px;
	padding: 0px 0px 0px 0px;
}

#menu-title {
	width : 100%;
	font-size: 3em;
}

.menu-category {
	padding: 5px 5px 5px 5px;

}

.menu-category-heading, .menu-category-content, .menu-category-endsection {
	background-color: #E8E8E8;
}
/** 	
Maybe its better to move margin to child objects**/


.menu-category .menu-category-heading {
	font-size: 2em;
	margin: 0px 0px 0px 0px;	
}

.menu-category > .menu-category-content {
	padding: 5px 10px 5px 10px;
}

.menu-category > .menu-category-endsection {
	padding: 5px 10px 5px 10px;
}
